body {
  background: #271E44;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #F4B400;
  border-radius: 8px;
}

#OverlayNavBarContent{
  /*display: none;*/
}



@media only screen and (min-width:974px) {

  #ModalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
  }

  #Modal {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 35%;
    border-radius: 24px;
    background: #1E192F;
  }

  #PhoneLockImgDiv {
    align-self: center;
    position: relative;
    top: 30px;
  }

  #PhoneLockImg {
    height: 70px;
    width: 70px;
  }

  #Credentials {
    display: flex;
    position: relative;
    top: 100px;
    align-self: center;
    flex-direction: column;
    row-gap: 10px;
    width: 80%;
  }

  #Credentials2 {
    display: flex;
    position: relative;
    top: 30px;
    align-self: center;
    flex-direction: column;
    row-gap: 10px;
    width: 80%;
  }

  #LogInText {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  #InstructionText {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }


  #FullNameID {
    height: 60px;
    width: 85%;
    padding-left: 15%;
    border-radius: 10px;
    background: url('./images/Group.png') 20px 20px no-repeat #1E192F;
    background-size: 20px;
    border: 0px;
    outline: none;
  }

  #FullNameID:focus {
    background-color: #3A2F4D;
  }

  #FullNameID::placeholder {
    transition: 0.2s ease-out;
  }

  #FullNameID:focus::placeholder,
  #EmailID:not(:placeholder-shown)::placeholder {
    transform: translateY(-100%);
    font-size: 12px;
  }



  #PhoneID {
    height: 60px;
    width: 85%;
    padding-left: 15%;
    border-radius: 10px;
    background: url('./images/Vector.png') 20px 16px no-repeat #1E192F;
    background-size: 20px;
    border: 0px;
    outline: none;
  }

  #PhoneID:focus {
    background-color: #3A2F4D;
  }

  #PhoneID::placeholder {
    transition: 0.2s ease-out;
  }

  #PhoneID:focus::placeholder,
  #PhoneID:not(:placeholder-shown)::placeholder {
    transform: translateY(-100%);
    font-size: 12px;
  }

  #EmailID {
    height: 60px;
    width: 85%;
    padding-left: 15%;
    border-radius: 10px;
    background: url('./images/ic_outline-email.png') 20px 20px no-repeat #1E192F;
    background-size: 20px;
    border: 0px;
    outline: none;
  }

  #EmailID:focus {
    background-color: #3A2F4D;
  }

  #EmailID::placeholder {
    transition: 0.2s ease-out;
  }

  #EmailID:focus::placeholder,
  #EmailID:not(:placeholder-shown)::placeholder {
    transform: translateY(-100%);
    font-size: 12px;
  }


  #PassWordID {
    height: 60px;
    width: 85%;
    padding-left: 15%;
    border-radius: 10px;
    background: url('./images/Group\ 32.png') 20px 20px no-repeat #1E192F;
    background-size: 17px;
    border: 0px;
    outline: none;
  }

  #PassWordID:focus {
    background-color: #3A2F4D;
  }

  #PassWordID::placeholder {
    transition: 0.2s ease-out;
  }

  #PassWordID:focus::placeholder,
  #PassWordID:not(:placeholder-shown)::placeholder {
    transform: translateY(-100%);
    font-size: 12px;
  }


  #ConfirmPassWordID {
    height: 60px;
    width: 85%;
    padding-left: 15%;
    border-radius: 10px;
    background: url('./images/Group\ 32.png') 20px 20px no-repeat #1E192F;
    background-size: 17px;
    border: 0px;
    outline: none;
  }

  #ConfirmPassWordID:focus {
    background-color: #3A2F4D;
  }

  #ConfirmPassWordID::placeholder {
    transition: 0.2s ease-out;
  }

  #ConfirmPassWordID:focus::placeholder,
  #ConfirmPassWordID:not(:placeholder-shown)::placeholder {
    transform: translateY(-100%);
    font-size: 12px;
  }


  #Login-ForgotPassword {
    display: flex;
    align-self: center;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
    top: 120px;
  }

  #LogInBut {
    cursor: pointer;
    padding: 10px;
    width: 150px;
    color: rgba(0, 0, 0, 0.70);
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    background: #F4B400;
    border: 0px;
  }

  #ForgotText {
    cursor: pointer;
    color: #F4B400;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }


  #Question-SignIn {
    display: flex;
    align-self: center;
    flex-direction: row;
    column-gap: 5px;
    position: relative;
    top: 210px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  #SignUp {
    cursor: pointer;
    color: #F4B400;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }



  #Login-ForgotPassword2 {
    display: flex;
    align-self: center;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
    top: 50px;
  }


  #Question-SignIn2 {
    display: flex;
    align-self: center;
    flex-direction: row;
    column-gap: 5px;
    position: relative;
    top: 70px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  #Elilipse {
    transform: rotate(-10deg);
    position: fixed;
    left: 55%;
    top: -400px;
    border-radius: 1187px;
    border: 60px solid #F4B400;
    width: 666px;
    height: 666px;
    z-index: -1;
  }

  #EllipseImg {
    position: fixed;
    top: 400px;
    left: 60%;
  }

  #Elilipse2 {
    transform: rotate(-10deg);
    position: fixed;
    right: 55%;
    top: 350px;
    border-radius: 1187px;
    border: 60px solid #000;
    width: 666px;
    height: 666px;
    z-index: -1;
  }

  #EllipseImg2 {
    position: fixed;
    top: 50px;
    left: 60%;
  }

  #CAText {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-wrap: nowrap;
  }

  #BackImgDiv {
    display: flex;
    position: relative;
    top: 20px;
    align-self: center;
    width: 80%;
  }

  #BackImg {
    cursor: pointer;
    height: 20px;
    width: 40px;
  }

  #NavBarMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #241E20;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #NavBarContent {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    align-items: center;
  }

  #NavBarAuthButs {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
  }

  #AppLogo {
    width: 5%;
  }

  #HomeText,
  #AboutText,
  #FAQText,
  #ContactUSText {
    cursor: pointer;
  }

  #LogINText {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #000000;
    color: #FFF;
    border-radius: 15px;
    font-weight: bold;
  }

  #LogINText:hover {
    cursor: pointer;
  }


  #CreateNewAccountText {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #F4B400;
    color: #FFF;
    border-radius: 25px;
    font-weight: bold;
    white-space: nowrap;
  }

  #CreateNewAccountText:hover {
    cursor: pointer;
  }

  #LandingPageBG{
    background: #FFF;
  }

  #Sec1Main {
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, #241E20 18.5%, #4B3F1B 61%, #F1CD05 100%);
    color: #FFF;
    padding-left: 50px;
    padding-right: 170px;
    padding-top: 20px;
    padding-bottom: 20px;
    row-gap: 10px;
  }

  #Sec1MainSub {
    display: flex;
    flex-direction: column;
    justify-content: left;
    row-gap: 10px;
  }

  #Sec1MainText1 {
    font-size: 4vw;
    font-weight: bold;
    width: 50%;
  }

  #ScrabbleImg {
    width: 48%;
  }

  #Sec1MainText2 {
    line-height: 2.5;
    width: 50%;
    padding-bottom: 20px;
  }

  #LearnMoreText {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #000000;
    color: #FFF;
    border-radius: 15px;
    font-weight: bold;
    width: 130px;
  }

  #LearnMoreText:hover {
    cursor: pointer;
  }

  #LearnMoreImg {
    width: 10%;
  }

  #PlayerImg {
    width: 20%;
  }



  #Sec2Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    color: #000;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    row-gap: 30px;
  }

  #Sec2MainSub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
  }

  #Sec2MainText1 {
    font-size: 4vw;
    font-weight: bold;
    color: #F1CD05;
  }

  #ServicesCard {
    position: relative;
    /* Make the card a reference point for absolute positioning */
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 45px 50px;
    gap: 17px;
    border-radius: 24px;
    border: 5px solid #000000;
    opacity: 0px;
  }

  #ServicesCardImg {
    position: absolute;
    left: -32px;
    top: 50%;
    transform: translateY(-50%);
    width: 14%;
    background: #000;
    border-radius: 50px;
    padding: 10px;
  }

  #ServicesCardHeaderText {
    font-weight: bold;
  }

  #ServicesCardBody {
    font-size: 1vw;
    width: 200px;
  }

  #Sec3Main {
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, #241E20 18.5%, #4B3F1B 61%, #F1CD05 100%);
    color: #FFF;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    column-gap: 30px;
  }

  #Sec3MainSub {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }

  #PlayerImg2 {
    width: 40%;
  }

  #Sec3MainText1 {
    font-size: 4vw;
    font-weight: bold;
    width: 70%;
  }

  #SoccerKingdomText {
    color: #F1CD05;
  }

  #Sec3MainText2 {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
  }

  #Number1 {
    height: 40px;
    width: 7%;
  }

  #Spacer {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  #Sec3MainText2Sub {
    font-size: 1.8vw;
    font-weight: bold;
  }

  #Sec3MainText2Sub2 {
    font-size: 1vw;
    line-height: 2;
  }




  #Sec3MainText3 {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
  }

  #Number2 {
    height: 40px;
    width: 7%;
  }


  #Sec3MainText3Sub {
    font-size: 1.8vw;
    font-weight: bold;
  }

  #Sec3MainText3Sub2 {
    font-size: 1vw;
    line-height: 2;
  }


  #GetTheAppText {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #000000;
    color: #FFF;
    border-radius: 20px;
    font-weight: bold;
    width: 100px;
  }

  #GetTheAppText:hover {
    cursor: pointer;
  }

  #Sec4Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    color: #000;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    row-gap: 30px;
  }


  #Sec4MainSub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
  }

  #Sec4MainText1 {
    font-size: 4vw;
    font-weight: bold;
    color: #000;
  }

  #FAQText{
    color: #F1CD05; 
  }

  #Sec4MainText2 {
    text-align: center;
    font-size: 1.1vw;
  }

  #Sec4MainSub{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 45px 50px;
    border-radius: 24px;
    border: 5px solid #000000;
    opacity: 0px;
  }

  #QuestionsCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    padding: 10px 20px;
    border-radius: 24px;
    border: 5px solid #000000;
    opacity: 0px;
  }

  #QuestionsCardImg {
    width: 13%;
    background: #000;
    border-radius: 50px;
    padding: 10px;
  }

  #QuestionsCardBody {
    font-size: 1vw;
    width: 200px;
  }


  #MoreQuestionsCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    padding: 10px 20px;
    border-radius: 24px;
    border: 5px solid #000000;
    background: #000;
  }

  #MoreQuestionsCardImg {
    width: 13%;
  }

  #MoreQuestionsCardBody {
    color:#FFF;
    font-size: 1vw;
    width: 200px;
  }



  #FAQCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    padding: 10px 20px;
    border-radius: 24px;
    opacity: 0px;
  }

  #FAQCardImg {
    width: 13%;
  }

  #FAQCardBody {
    font-size: 1vw;
    width: 200px;
  }

  #QuestionsAlign{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 160px;
  }

  #FAQAlign{
    display: flex;
    flex-direction: column;
  }


  #Sec5Main {
    display: flex;
    flex-direction: column;
    background: #000;
    color: #FFF;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 40px;
    row-gap: 70px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
  }

  #FooterAlign{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
  }

  #Sec5Sub{
    display: flex;
    flex-direction: column; 
    font-size: 1vw;
    row-gap: 20px;
  }

  #Sec5Sub2{
    display: flex;
    flex-direction: column; 
    font-size: 1vw;
    row-gap: 20px;
  }


  #Sec5Sub3{
    display: flex;
    flex-direction: column; 
    font-size: 1vw;
    row-gap: 20px;
  }

  #Sec5SubHeader{
    font-size: 1.4vw;
    color:#F1CD05;
  }
  
  #Sec5Sub2Header{
    font-size: 1.4vw;
    color:#F1CD05;
  }
  #Sec5Sub3Header{
    font-size: 1.4vw;
    color:#F1CD05;
  }

  #SocialIcons{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  #FbImg{
    height: 30px;
  }

  #InstaImg{
    height: 30px;
  }

  #SubscribeInputBG{
    display: flex;
    flex-direction: row;
    background: #FFF;
    border-radius: 10px;
  }

  #SubscribeInput{
  font-family: 'Inter', sans-serif;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
  }

  #SubscribeBut{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #F4B400;
    color: #FFF;
    border-radius: 5px;
    font-weight: bold;
    white-space: nowrap;
  }


  #SideBarBG {
    overflow-y: scroll; /* Allow vertical scrolling */
    position: fixed; /* Keep the sidebar fixed in place */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('./images/SideBarBG.png') 0 0 no-repeat;
    background-size: 100%;
    padding: 20px;
    width: 10%;
    height: 100vh; /* Set the height to the full viewport height */
    row-gap: 30px;
    color: #FFF;
    font-weight: bold;
    backdrop-filter: blur(1em);
    z-index: 1;
}


  .SideBarSub{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-size: 0.95vw;
    row-gap: 10px;
  }

  .SideBarSubButText{
    display: none;
  }

  .SideBarSubButText{
    display: block;
  }

  .LogOutSideBarSubBut{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 0.95vw;
    column-gap: 10px;
    margin-top: 100px;
  }

  .SideBarSubBut{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    font-size: 0.8vw;
    padding: 10px;
    border-left: 2px solid #00000000;
  }


  .SideBarSubBut:hover{
    cursor: pointer;
    padding: 10px;
    background: #F3BC1F;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: 2px solid #000;
  }

  .SideBarSubButImg{
    height: 15px;
  }

  #SoccerKingdomImg{
    width: 70%;
  }

  #Dashboard{
    background-color: #FFF;
  }

  #DashboardTab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 220px;
  }

  #DashboardTabHeader{
    color: #00000080;
    font-weight: bold;
    font-size: 2vw;
  }

  #DashboardTabSub{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
  }

  #Search{
    cursor: pointer;
    height: 30px;
  }

  #Notification{
    cursor: pointer;
    height: 30px;
  }

  #ProfileBG{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
  }

  #ProfileName{
    font-size: 1.3vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 10ch;
  }

  #ProfileRole{
    font-size: 0.98vw; 
  }


  #ProfileImg{
    cursor: pointer;
    height: 30px;
    border-radius: 50px;
  }

  #DashboardMain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 50px;
    background: #DED4D4;
    height: 100%;
    padding-right: 20px;
    padding-left: 220px;
    padding-top: 20px;
    padding-bottom: 20px;
  }


  #PlayerOfTheWeek{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    padding: 10px;
    background: white;
    color: #000;
    width:25%;
    height: 250px;
    border-radius: 25px;
  }

  #PlayerProfileImg{
    width: 30%;
  }

  #StarImg{
    width: 15%;
  }


  #POWText{
    font-weight: bold;
    font-size: 1.5vw;
  }

  #POWText2{
    color: #00000066;
  }


  #Users{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    padding: 10px;
    background: white;
    color: #000;
    width:25%;
    height: 220px;
    border-radius: 25px;
  }

  #UsersMain{
    display: flex;
    flex-direction: row;
    column-gap: 70px;
  }


  #UsersMainSub1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #UsersMainSub{
    display: flex;
    flex-direction: column;
  }



  #UsersImg{
    width: 20%;
  }

  #UsersText{
    font-weight: bold;
    font-size: 1.5vw;
  }

  #UsersText2{
    font-weight: bold;
    font-size: 1.7vw;
  }


  #UsersText3{
    color: #00000066;
    font-size: 1.5vw;
  }


  #UsersText4{
    font-weight: bold;
    font-size: 1.7vw;
  }


  #UsersText5{
    color: #00000066;
    font-size: 1.5vw;
  }


  #Balance{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    padding: 10px;
    background: white;
    color: #000;
    width:25%;
    height: 150px;
    border-radius: 25px;
  }

  #BalanceMainSub1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


  #BalanceText{
    font-weight: bold;
    font-size: 1.5vw;
  }


  #BalanceText2{
    font-weight: bold;
    font-size: 1.7vw;
  }

  #BalanceText3{
    color: #00000066;
    font-size: 1.5vw;
  }

  #BalanceMainSub{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
  }


  #TopLeaders{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    padding: 10px;
    background: white;
    color: #000;
    width:25%;
    height: 220px;
    border-radius: 25px;
  }


  #TLText{
    font-weight: bold;
    font-size: 1.5vw;
  }

  #TLSubAlign{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
  }


  #TLSub{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #TLSub2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #TLSub3{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #008000;
  }

  #SubHeader{
    font-weight: bold;
    font-size: 1.3vw;
    color: #000;
  }


  #Welcome{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-right: 20px;
    padding-left: 220px;
  }

  #WelcomeText{
    font-weight: bold;
    font-size: 1.5vw;
    color: #F3BC1F;
  }


  #Greetings{
    font-weight: bold;
    font-size: 1.5vw;
    color: #000;
  }

  #TopNews{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    padding: 10px;
    background: white;
    color: #000;
    width:50%;
    height: 450px;
    border-radius: 25px;
  }

  #TopNewsText{
    font-weight: bold;
    font-size: 1.5vw;
  }

  #TopNewsImg{
    width:30%;
  }


  #TopNewsCard{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  #TNCardText{
    font-weight: bold;
    font-size: 1.2vw;
  }

  #TNCardSub{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

}



@media only screen and (max-width:974px) {

  #ModalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
  }

  #Modal {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    border-radius: 24px;
    background: #1E192F;
  }

  #PhoneLockImgDiv {
    align-self: center;
    position: relative;
    top: 30px;
  }

  #PhoneLockImg {
    height: 70px;
    width: 70px;
  }

  #Credentials {
    display: flex;
    position: relative;
    top: 100px;
    align-self: center;
    flex-direction: column;
    row-gap: 10px;
    width: 80%;
  }

  #Credentials2 {
    display: flex;
    position: relative;
    top: 30px;
    align-self: center;
    flex-direction: column;
    row-gap: 10px;
    width: 80%;
  }

  #LogInText {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  #InstructionText {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }


  #FullNameID {
    height: 60px;
    width: 85%;
    padding-left: 15%;
    border-radius: 10px;
    background: url('./images/Group.png') 20px 20px no-repeat #1E192F;
    background-size: 20px;
    border: 0px;
    outline: none;
  }

  #FullNameID:focus {
    background-color: #3A2F4D;
  }

  #FullNameID::placeholder {
    transition: 0.2s ease-out;
  }

  #FullNameID:focus::placeholder,
  #EmailID:not(:placeholder-shown)::placeholder {
    transform: translateY(-100%);
    font-size: 12px;
  }



  #PhoneID {
    height: 60px;
    width: 85%;
    padding-left: 15%;
    border-radius: 10px;
    background: url('./images/Vector.png') 20px 16px no-repeat #1E192F;
    background-size: 20px;
    border: 0px;
    outline: none;
  }

  #PhoneID:focus {
    background-color: #3A2F4D;
  }

  #PhoneID::placeholder {
    transition: 0.2s ease-out;
  }

  #PhoneID:focus::placeholder,
  #PhoneID:not(:placeholder-shown)::placeholder {
    transform: translateY(-100%);
    font-size: 12px;
  }

  #EmailID {
    height: 60px;
    width: 85%;
    padding-left: 15%;
    border-radius: 10px;
    background: url('./images/ic_outline-email.png') 20px 20px no-repeat #1E192F;
    background-size: 20px;
    border: 0px;
    outline: none;
  }

  #EmailID:focus {
    background-color: #3A2F4D;
  }

  #EmailID::placeholder {
    transition: 0.2s ease-out;
  }

  #EmailID:focus::placeholder,
  #EmailID:not(:placeholder-shown)::placeholder {
    transform: translateY(-100%);
    font-size: 12px;
  }


  #PassWordID {
    height: 60px;
    width: 85%;
    padding-left: 15%;
    border-radius: 10px;
    background: url('./images/Group\ 32.png') 20px 20px no-repeat #1E192F;
    background-size: 17px;
    border: 0px;
    outline: none;
  }

  #PassWordID:focus {
    background-color: #3A2F4D;
  }

  #PassWordID::placeholder {
    transition: 0.2s ease-out;
  }

  #PassWordID:focus::placeholder,
  #PassWordID:not(:placeholder-shown)::placeholder {
    transform: translateY(-100%);
    font-size: 12px;
  }


  #ConfirmPassWordID {
    height: 60px;
    width: 85%;
    padding-left: 15%;
    border-radius: 10px;
    background: url('./images/Group\ 32.png') 20px 20px no-repeat #1E192F;
    background-size: 17px;
    border: 0px;
    outline: none;
  }

  #ConfirmPassWordID:focus {
    background-color: #3A2F4D;
  }

  #ConfirmPassWordID::placeholder {
    transition: 0.2s ease-out;
  }

  #ConfirmPassWordID:focus::placeholder,
  #ConfirmPassWordID:not(:placeholder-shown)::placeholder {
    transform: translateY(-100%);
    font-size: 12px;
  }


  #Login-ForgotPassword {
    display: flex;
    align-self: center;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
    top: 120px;
  }

  #LogInBut {
    cursor: pointer;
    padding: 10px;
    width: 150px;
    color: rgba(0, 0, 0, 0.70);
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    background: #F4B400;
    border: 0px;
  }

  #ForgotText {
    cursor: pointer;
    color: #F4B400;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }


  #Question-SignIn {
    display: flex;
    align-self: center;
    flex-direction: row;
    column-gap: 5px;
    position: relative;
    top: 210px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  #SignUp {
    cursor: pointer;
    color: #F4B400;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }



  #Login-ForgotPassword2 {
    display: flex;
    align-self: center;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
    top: 50px;
  }


  #Question-SignIn2 {
    display: flex;
    align-self: center;
    flex-direction: row;
    column-gap: 5px;
    position: relative;
    top: 70px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  #Elilipse {
    transform: rotate(-10deg);
    position: fixed;
    left: 55%;
    top: -400px;
    border-radius: 1187px;
    border: 60px solid #F4B400;
    width: 666px;
    height: 666px;
    z-index: -1;
  }

  #EllipseImg {
    position: fixed;
    top: 400px;
    left: 60%;
  }

  #Elilipse2 {
    transform: rotate(-10deg);
    position: fixed;
    right: 55%;
    top: 350px;
    border-radius: 1187px;
    border: 60px solid #000;
    width: 666px;
    height: 666px;
    z-index: -1;
  }

  #EllipseImg2 {
    position: fixed;
    top: 50px;
    left: 60%;
  }

  #CAText {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-wrap: nowrap;
  }

  #BackImgDiv {
    display: flex;
    position: relative;
    top: 20px;
    align-self: center;
    width: 80%;
  }

  #BackImg {
    cursor: pointer;
    height: 20px;
    width: 40px;
  }



  #NavBarMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #241E20;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #NavBarContent {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    align-items: center;
  }

  #NavBarAuthButs {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
  }

  #AppLogo {
    width: 5%;
  }

  #HomeText,
  #AboutText,
  #FAQText,
  #ContactUSText {
    cursor: pointer;
  }

  #LogINText {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #000000;
    color: #FFF;
    border-radius: 15px;
    font-weight: bold;
  }

  #LogINText:hover {
    cursor: pointer;
  }


  #CreateNewAccountText {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #F4B400;
    color: #FFF;
    border-radius: 25px;
    font-weight: bold;
    white-space: nowrap;
  }

  #CreateNewAccountText:hover {
    cursor: pointer;
  }

  #LandingPageBG{
    background: #FFF;
  }

  #Sec1Main {
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, #241E20 18.5%, #4B3F1B 61%, #F1CD05 100%);
    color: #FFF;
    padding-left: 50px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    row-gap: 10px;
  }

  #Sec1MainSub {
    display: flex;
    flex-direction: column;
    justify-content: left;
    row-gap: 10px;
  }

  #Sec1MainText1 {
    font-size: 4vw;
    font-weight: bold;
    width: 90%;
    white-space: nowrap;
  }

  #ScrabbleImg {
    width: 88%;
  }

  #Sec1MainText2 {
    line-height: 2.5;
    width: 80%;
    padding-bottom: 20px;
  }

  #LearnMoreText {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #000000;
    color: #FFF;
    border-radius: 15px;
    font-weight: bold;
    width: 130px;
  }

  #LearnMoreText:hover {
    cursor: pointer;
  }

  #LearnMoreImg {
    width: 10%;
  }

  #PlayerImg {
    width: 150px;
  }



  #Sec2Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    color: #000;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    row-gap: 30px;
  }

  #Sec2MainSub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
  }

  #Sec2MainText1 {
    font-size: 4vw;
    font-weight: bold;
    color: #F1CD05;
  }

  #ServicesCard {
    position: relative;
    /* Make the card a reference point for absolute positioning */
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 45px 50px;
    gap: 17px;
    border-radius: 24px;
    border: 5px solid #000000;
    opacity: 0px;
  }

  #ServicesCardImg {
    position: absolute;
    left: -32px;
    top: 50%;
    transform: translateY(-50%);
    width: 14%;
    background: #000;
    border-radius: 50px;
    padding: 10px;
  }

  #ServicesCardHeaderText {
    font-weight: bold;
  }

  #ServicesCardBody {
    font-size: 1.5vw;
    width: 200px;
  }

  #Sec3Main {
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, #241E20 18.5%, #4B3F1B 61%, #F1CD05 100%);
    color: #FFF;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    column-gap: 30px;
  }

  #Sec3MainSub {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }

  #PlayerImg2 {
    width: 40%;
  }

  #Sec3MainText1 {
    font-size: 4vw;
    font-weight: bold;
    width: 70%;
  }

  #SoccerKingdomText {
    color: #F1CD05;
  }

  #Sec3MainText2 {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
  }

  #Number1 {
    height: 40px;
    width: 7%;
  }

  #Spacer {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  #Sec3MainText2Sub {
    font-size: 1.8vw;
    font-weight: bold;
  }

  #Sec3MainText2Sub2 {
    font-size: 1.5vw;
    line-height: 2;
  }




  #Sec3MainText3 {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
  }

  #Number2 {
    height: 40px;
    width: 7%;
  }


  #Sec3MainText3Sub {
    font-size: 1.8vw;
    font-weight: bold;
  }

  #Sec3MainText3Sub2 {
    font-size: 1.5vw;
    line-height: 2;
  }


  #GetTheAppText {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #000000;
    color: #FFF;
    border-radius: 20px;
    font-weight: bold;
    width: 100px;
  }

  #GetTheAppText:hover {
    cursor: pointer;
  }

  #Sec4Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    color: #000;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    row-gap: 30px;
  }


  #Sec4MainSub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
  }

  #Sec4MainText1 {
    font-size: 4vw;
    font-weight: bold;
    color: #000;
  }

  #FAQText{
    color: #F1CD05; 
  }

  #Sec4MainText2 {
    text-align: center;
    font-size: 1.5vw;
  }

  #Sec4MainSub{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 45px 50px;
    border-radius: 24px;
    border: 5px solid #000000;
    opacity: 0px;
  }

  #QuestionsCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    padding: 10px 20px;
    border-radius: 24px;
    border: 5px solid #000000;
    opacity: 0px;
  }

  #QuestionsCardImg {
    width: 13%;
    background: #000;
    border-radius: 50px;
    padding: 10px;
  }

  #QuestionsCardBody {
    font-size: 1.5vw;
    width: 200px;
  }


  #MoreQuestionsCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    padding: 10px 20px;
    border-radius: 24px;
    border: 5px solid #000000;
    background: #000;
  }

  #MoreQuestionsCardImg {
    width: 13%;
  }

  #MoreQuestionsCardBody {
    color:#FFF;
    font-size: 1.5vw;
    width: 200px;
  }



  #FAQCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    padding: 10px 20px;
    border-radius: 24px;
    opacity: 0px;
  }

  #FAQCardImg {
    width: 13%;
  }

  #FAQCardBody {
    font-size: 1.5vw;
    width: 200px;
  }

  #QuestionsAlign{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
  }

  #FAQAlign{
    display: flex;
    flex-direction: column;
  }


  #Sec5Main {
    display: flex;
    flex-direction: column;
    background: #000;
    color: #FFF;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 40px;
    row-gap: 70px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
  }

  #FooterAlign{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
  }

  #Sec5Sub{
    display: flex;
    flex-direction: column; 
    font-size: 1.9vw;
    row-gap: 20px;
  }

  #Sec5Sub2{
    display: flex;
    flex-direction: column; 
    font-size: 1.9vw;
    row-gap: 20px;
  }


  #Sec5Sub3{
    display: flex;
    flex-direction: column; 
    font-size: 1.9vw;
    row-gap: 20px;
  }

  #Sec5SubHeader{
    font-size: 1.9vw;
    color:#F1CD05;
  }
  
  #Sec5Sub2Header{
    font-size: 1.9vw;
    color:#F1CD05;
  }
  #Sec5Sub3Header{
    font-size: 1.9vw;
    color:#F1CD05;
  }

  #SocialIcons{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  #FbImg{
    height: 30px;
  }

  #InstaImg{
    height: 30px;
  }

  #SubscribeInputBG{
    display: flex;
    flex-direction: row;
    background: #FFF;
    border-radius: 10px;
  }

  #SubscribeInput{
  font-family: 'Inter', sans-serif;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
  }

  #SubscribeBut{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #F4B400;
    color: #FFF;
    border-radius: 5px;
    font-weight: bold;
    white-space: nowrap;
  }


  #SideBarBG {
    overflow-y: scroll; /* Allow vertical scrolling */
    position: fixed; /* Keep the sidebar fixed in place */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('./images/SideBarBG.png') 0 0 no-repeat;
    background-size: 100%;
    padding: 20px;
    width: 10%;
    height: 100vh; /* Set the height to the full viewport height */
    row-gap: 30px;
    color: #FFF;
    font-weight: bold;
    left: 0;
    top:0;
    bottom: 0;
    backdrop-filter: blur(1em);
}


  .SideBarSub{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-size: 1.5vw;
    row-gap: 10px;
  }

  .SideBarSubButText{
    display: none;
  }

  .SideBarSubButText{
    display: block;
  }

  .LogOutSideBarSubBut{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 1.5vw;
    column-gap: 10px;
    margin-top: 100px;
  }

  .SideBarSubBut{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    font-size: 1.2vw;
    padding: 10px;
    border-left: 2px solid #00000000;
  }


  .SideBarSubBut:hover{
    cursor: pointer;
    padding: 10px;
    background: #F3BC1F;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: 2px solid #000;
  }

  .SideBarSubButImg{
    height: 15px;
  }

  #SoccerKingdomImg{
    width: 70%;
  }

  #Dashboard{
    background-color: #FFF;
  }

  #DashboardTab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 220px;
  }

  #DashboardTabHeader{
    color: #00000080;
    font-weight: bold;
    font-size: 2vw;
  }

  #DashboardTabSub{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
  }

  #Search{
    cursor: pointer;
    height: 30px;
  }

  #Notification{
    cursor: pointer;
    height: 30px;
  }

  #ProfileBG{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
  }

  #ProfileName{
    font-size: 1.3vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 10ch;
  }

  #ProfileRole{
    font-size: 0.98vw; 
  }


  #ProfileImg{
    cursor: pointer;
    height: 30px;
    border-radius: 50px;
  }

}

@media only screen and (max-width:910px) {
  
  #OverlayNavBarContent{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #271E44;
    animation-name: OverlaySlideIn;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    backdrop-filter: blur(0.2em);
    z-index: 1;
    overflow-y: auto;
  }



  @keyframes OverlaySlideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes OverlaySlideOut {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}


  #NavBarMain {
    justify-content:start;
    column-gap: 20px;
  }

  #MenuToggle {
    display: block;
    cursor: pointer;
    z-index: 1;
    transform: scale(2.2);
    margin-right: 20px;
    user-select: none;
  }


  #MenuToggle2 {
    display: block;
    cursor: pointer;
    z-index: 1;
    transform: scale(2.2);
    user-select: none;
  }



  #SideBarBG {
    display: none;
    width: 200px;
    height: 100%;
    row-gap: 30px;
    color: #FFF;
    font-weight: bold;
    animation-name: OverlaySlideIn;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    z-index: 1;
}


  .SideBarSub{
    font-size: 20px;
  }

  .LogOutSideBarSubBut{
    align-items: center;
    font-size: 15px;
  }

  .SideBarSubBut{
    font-size: 15px;
  }


  .SideBarSubBut:hover{
    cursor: pointer;
    padding: 10px;
    background: #F3BC1F;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: 2px solid #000;
  }

  .SideBarSubButImg{
    height: 15px;
  }

  #SoccerKingdomImg{
    width: 70%;
  }

  #Dashboard{
    background-color: #FFF;
  }

  #DashboardTab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  #DashboardTabHeader{
    display: none;
  }


  #ProfileName{
    font-size: 2vw;
  }

  #ProfileRole{
    font-size: 1.5vw; 
  }
}


@media only screen and (max-width:600px) {

  #AppLogo {
    width: 10%;
  }


  #Sec1Main {
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, #241E20 18.5%, #4B3F1B 61%, #F1CD05 100%);
    color: #FFF;
    padding-left: 50px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    row-gap: 10px;
  }

  #Sec1MainSub {
    display: flex;
    flex-direction: column;
    justify-content: left;
    row-gap: 10px;
  }

  #Sec1MainText1 {
    font-size: 4vw;
    font-weight: bold;
    width: 90%;
    white-space: nowrap;
  }

  #ScrabbleImg {
    width: 88%;
  }

  #Sec1MainText2 {
    line-height: 2.5;
    width: 80%;
    padding-bottom: 20px;
  }

  #PlayerImg {
    width: 150px;
  }

  #ServicesCardBody {
    font-size: 2.2vw;
  }

  #Sec3Main {
    align-items: center;
  }

  #PlayerImg2 {
    width: 40%;
  }

  #Sec3MainText1 {
    font-size: 4.5vw;
  }


  #Sec3MainText2Sub {
    font-size: 3vw;
  }

  #Sec3MainText2Sub2 {
    font-size: 2.2vw;
  }


  #Sec3MainText3Sub {
    font-size: 3vw;
    font-weight: bold;
  }

  #Sec3MainText3Sub2 {
    font-size: 2.2vw;
    line-height: 2;
  }


  #Number1 {
    height: 35px;
    width: 13%;
  }


  #Number2 {
    height: 35px;
    width: 13%;
  }

  #Sec4MainText1 {
    font-size: 4.5vw;
  }

  #Sec4MainText2 {
    font-size: 2.5vw;
  }

  #QuestionsCardBody {
    font-size: 2.2vw;
    width: 200px;
  }

  #MoreQuestionsCardBody {
    font-size: 2.2vw;
  }



  #FAQCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    padding: 10px 20px;
    border-radius: 24px;
    opacity: 0px;
  }

  #FAQCardBody {
    font-size: 2.2vw;
  }
  #Sec5Sub{
    font-size: 3.2vw;
  }

  #Sec5Sub2{
    font-size: 3.2vw;
  }


  #Sec5Sub3{
    font-size: 3.2vw;
  }

  #Sec5SubHeader{
    font-size: 3.2vw;
  }
  
  #Sec5Sub2Header{
    font-size: 3.2vw;
  }
  #Sec5Sub3Header{
    font-size: 3.2vw;
  }

  #FooterAlign{
    display: flex;
    flex-direction: column; 
    row-gap: 50px;
    justify-content: space-between;
  }


  #SubscribeInputBG{
    flex-direction: column;
  }

  #SubscribeInput{
    padding: 10px;
  }
}





@media only screen and (max-width:500px) {

  #AppLogo {
    width: 15%;
  }


  #Sec1Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    row-gap: 30px;
  }

  #Sec1MainText1 {
    font-size: 5.5vw;
    width: 100%;
  }

  #ScrabbleImg {
    width: 100%;
  }

  #Sec1MainText2 {
    width: 100%;
  }

  #Sec2MainText1 {
    font-size: 5.5vw;
  }


  /* #ServicesCard {
    width: 90%;
  } */

  #ServicesCardBody {
    font-size: 3.5vw;
  }


  #Sec3Main {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  #Sec3MainSub {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }

  #PlayerImg2 {
    width: 50%;
  }


  #Sec3MainText1 {
    font-size: 5.5vw;
    width: 100%;
  }


  #Sec3MainText2Sub {
    font-size: 4vw;
  }

  #Sec3MainText2Sub2 {
    font-size: 3.5vw;
  }


  #Sec3MainText3Sub {
    font-size: 4vw;
  }

  #Sec3MainText3Sub2 {
    font-size: 3.5vw;
  }

  #Sec4MainText1 {
    font-size: 5.5vw;
  }

  #Sec4MainText2 {
    font-size: 3.5vw;
  }

  #Sec4MainSub{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width:90%;
  }
  

  #QuestionsAlign{
    width:100%;
  }

  #QuestionsCard{
    width: 90%;
  }

  #QuestionsCardBody {
    font-size: 3.2vw;
    width: 100%;
  }

  #MoreQuestionsCard{
    width: 90%;
  }

  #MoreQuestionsCardBody {
    font-size: 3.2vw;
  }



  #FAQCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    padding: 10px 20px;
    border-radius: 24px;
    opacity: 0px;
  }

  #FAQCardBody {
    font-size: 3.5vw;
  }
  #Sec5Sub{
    font-size: 3.5vw;
  }

  #Sec5Sub2{
    font-size: 3.5vw;
  }


  #Sec5Sub3{
    font-size: 3.5vw;
  }

  #Sec5SubHeader{
    font-size: 3.5vw;
  }
  
  #Sec5Sub2Header{
    font-size: 3.5vw;
  }
  #Sec5Sub3Header{
    font-size: 3.5vw;
  }

  #FooterAlign{
    display: flex;
    flex-direction: column; 
    row-gap: 50px;
    justify-content: space-between;
  }


  #SubscribeInputBG{
    flex-direction: column;
  }

  #SubscribeInput{
    padding: 10px;
  }


  #Sec5Main {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  #ProfileName{
    font-size: 2.5vw;
  }

  #ProfileRole{
    font-size: 2vw; 
  }
  
}





@media only screen and (max-width:375px) {
  #Modal {
    width: 95%;
  }
}